.App {
  text-align: center;
}

.ui.main.container{
  margin-top: 7em;
}
.pageMain{
  display: flex;
  gap:3em;
}
.ui.table{
  margin: 0 !important;
}

.productList{
  width: 100%;
}

.outButtons,.basket{
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket{
  margin-right: 1rem;
}